:root {
    --light--blue: #2196F3;
    --dark--black: #212121;
    --white: #FFFFFF;
    --light--gray: #757575;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

body {
    font-family: 500;
    font-size: 14px;
    color: var(--dark--black);
    font-family: "Roboto", sans-serif;
}

.webstudio-sites {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: var(--dark--black);
}

.webstudio-heading {
    font-weight: 900;
    font-size: 44px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    width: 696px;
    display: block;
    margin: 0 auto;
    line-height: 1.36;
}

.webstudio-h2 {
    font-size: 16px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    color: var(--white);
}

.webstudio-h3 {
    font-size: 14px;
    font-weight: 700;
    color: var(--dark--black);
    font-family: "Roboto", sans-serif;

}

.webstudio-text {
    font-size: 14px;
    font-weight: 400;
    color: var(--light--gray);
    font-family: "Roboto", sans-serif;
    line-height: 1.71;
    padding-top: 0px;
    padding-bottom: 94px;


}

.webstudio-list {
    justify-content: space-between;
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 94px;
    margin-bottom: 94px;
    gap: 30px;
}

.webstudio-subheading {
    color: var(--dark--black);
    font-weight: 700;
    font-size: 36px;
    margin-top: 94;
}

.webstudio-footer {
    color: var(--light--gray);
    font-weight: 400;
    font-size: 14px;
    background-color: #2F303A;
}

.webstudio-gmail {
    color: var(--light--gray);
    font-weight: 400;
    font-size: 14px;
}

.webstudio- {
    color: var(--light--gray);
    font-weight: 400;
    font-size: 14px;
}

.webstudio-address {
    color: var(--white);
    font-weight: 400;
    font-size: 14px;
}

.webstudio-subheading {
    text-align: center;

}

.webstudio-heading {
    text-align: center;
}

.webstudio-team {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
}

.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
}

.webstudio-sites {
    text-decoration: none;
}

.webstudio-gmail {
    text-decoration: none;
}

.webstudio-tel {
    text-decoration: none;
    color: var(--light--gray);
}

.webstudio-nav {
    gap: 50px;
    display: flex;
}

.nav-1 {
    gap: 50px;
    display: flex;
}

.webstuido-title {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--dark--black);
    color: var(--white);
}

.webstudio-button {
    display: block;
    margin: 0 auto;
    background-color: var(--light--blue);
    color: var(--white);
    padding: 10px 32px 10px 32px;
    border: 0;
    border-radius: 4px;
    margin-top: 30px;
}

.Section-3 {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin-bottom: 94px;
    margin-top: 50px;
}

.section-4 {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
    text-align: center;
}

.webstudio-figure {
    width: 270px;
    margin: 0;
}

.webstudio-figure img {
    width: 100%;
}

.section {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}

.webstudio-footer {
    padding-top: 94px;
    padding-bottom: 94px;

}

.gmail {
    color: rgba(255, 255, 255, 0.601);
    margin-top: 20px;

}

.tel {
    color: rgba(255, 255, 255, 0.599);
    margin-top: 20px;

}

.footer-flex {
    display: flex;
    flex-direction: column;

}

.webstudio-address {
    margin-top: 20px;
}

.section-5 {
    background-color: #f5f4fa;
    padding-top: 94px;
    padding-bottom: 94px;
}

.webstudio-figure {
    background-color: white;
}

.webstudio-text {
    padding-bottom: 30px;
    margin: 0;
}

.webstudio-sites:hover {
    color: var(--light--blue);
}

.webstudio-tel:hover {
    color: var(--light--blue);
}

.webstudio-gmail:hover {
    color: var(--light--blue);
}
.portfolio-button{
    
}
.portfolio-ul{
    display: flex;
  justify-content: center;
  padding:0;
  list-style: none;
  margin-top: 100px;
  margin-bottom: 56px;
  gap: 8px;
}
.portfolio-button{}